.top_header{
    background-color: #0077A2;
    min-height: 55px;
}
.input-text,
.input-select{
    border-radius: 0;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.btn-black{
    background-color: #3c3c3c;
    color: #fff;
}
.btn-normal{
    background-color: #f3f3f3;
    color: #000;
}
.btn-custom-group{

}
.btn-custom-group a{
    float: left;
    border-radius: 0;
}
.btn-custom-group .input-btn-group-text{
    float: left;
    width: 50%;
    border-radius: 0;
}
.block-element{
    display: block;
}
.fa-custom-blue{
    color: #479BD1;
}
.btn-flat{
    border-radius: 0;
}
.bg-primary{
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
}

#map-container{
    height: 500px;
}

#map-container-mobile{
    height: 300px;
}

#location_map_mobile{
    display: none;
}

/*.hideMapButton:hover, .hideMapButton:active {*/
    /*background: #4f4f4f none repeat scroll 0 0;*/
    /*color: #ffffff;*/
    /*text-decoration: none;*/
/*}*/



/*.mapButton {*/
    /*background: #337ab7 none repeat scroll 0 0;*/
    /*border-radius: 3px;*/
    /*color: #ffffff;*/
    /*display: table;*/
    /*font-size: 18px;*/
    /*margin: auto;*/
    /*padding: 12px 35px;*/
    /*cursor: pointer;*/
/*}*/

.mapHiddenTrigger {
    display: none;
}

.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
    height: 38px;
    padding: 0px 16px;
    font-size: 15px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 4px;
    width: 100px;
}

.datepicker > .datepicker_header > .icon-close {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    padding: 8px;
    top: 0;
    right: 9px;
}

.input-group-addon, .input-group-btn {
    width: auto;
}

.form-control , .input-group-addon , .btn{
    border-radius: 0px !important;
}

.ride-info{
    padding: 8px;
    background-color: #F2F2F2;
    color: #1b81cb;
    font-weight: bold;
    font-size: 14px;
}

.font2 {
    text-align: right;
    padding: 18px 33px 9px 33px;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
}

.authModalScreen {
    margin: auto;
    width: 100%;
    height: 100vh;
    padding: 15% 30%;
}

.navbar-default{
    border-color: #0077A2;
    border-radius: 0px;
}

@media (min-width: 768px){
    .navbar {
        border-radius: 0px;
    }
}

label{
    font-size: 15.5px;
}

.luggage-checkbox{
    font-size: 14px;
    font-weight: normal;
    display: block;
    margin-top: 10px;
}

.bootstrap-datetimepicker-widget table td.active {
    border-radius: 0px !important;
}

.stopLocationfield .input-group{
    width: 100%;
}

.stopLocationfield .input-group-addon {
    padding: 6px 4px;
}

.add_field_button:hover {
    background-color: #D3DCE3;
}

.form-group .date{
    width: 100%;
}

#PPS-time-picker
{
    margin-top: 15px;
}

body{
    //font-family: 'Lato', sans-serif;
}

.short-address{
    font-weight: 400;
    color: #bebebe;
    float: right;
}

.bootstrap-datetimepicker-widget {
    top: 0;
    left: 0;
    padding: 4px;
    margin-top: 1px;
    z-index: 99999!important;
    border-radius: 0
}

.bootstrap-datetimepicker-widget.timepicker-sbs {
    width: 600px
}

.bootstrap-datetimepicker-widget .dow {
    width: 14.2857%
}

.bootstrap-datetimepicker-widget>ul {
    list-style-type: none;
    margin: 0
}

.bootstrap-datetimepicker-widget a[data-action] {
    padding: 6px 0
}

.bootstrap-datetimepicker-widget a[data-action]:active {
    box-shadow: none
}

.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second,
.bootstrap-datetimepicker-widget .timepicker-period {
    width: 30px;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
    padding: 0!important
}

.bootstrap-datetimepicker-widget .timepicker-period {
    color: #4a4a4a;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    line-height: 30px
}

.bootstrap-datetimepicker-widget .timepicker-period:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, .12);
    border-radius: 0
}

.bootstrap-datetimepicker-widget button[data-action] {
    padding: 6px
}

.bootstrap-datetimepicker-widget table[data-hour-format="12"] .separator {
    width: 4px;
    padding: 0;
    margin: 0
}

.bootstrap-datetimepicker-widget .datepicker>div {
    display: none
}

.bootstrap-datetimepicker-widget .picker-switch {
    text-align: center
}

.bootstrap-datetimepicker-widget table {
    width: 100%;
    margin: 0
}

.bootstrap-datetimepicker-widget td,
.bootstrap-datetimepicker-widget th {
    text-align: center;
    border-radius: 0
}

.bootstrap-datetimepicker-widget td {
    height: 54px;
    line-height: 54px;
    width: 54px
}

.bootstrap-datetimepicker-widget td.cw {
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    color: #bebebe
}

.bootstrap-datetimepicker-widget td.day {
    height: 20px;
    line-height: 20px;
    width: 20px
}

.bootstrap-datetimepicker-widget td.day:hover,
.bootstrap-datetimepicker-widget td.hour:hover,
.bootstrap-datetimepicker-widget td.minute:hover,
.bootstrap-datetimepicker-widget td.second:hover {
    background: rgba(0, 0, 0, .12);
    cursor: pointer
}

.bootstrap-datetimepicker-widget td.old,
.bootstrap-datetimepicker-widget td.new {
    color: #bebebe
}

.bootstrap-datetimepicker-widget td.today {
    position: relative
}

.bootstrap-datetimepicker-widget td.today:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #1b81cb;
    border-top-color: rgba(0, 0, 0, .2);
    position: absolute;
    bottom: 4px;
    right: 4px
}

.bootstrap-datetimepicker-widget td.active,
.bootstrap-datetimepicker-widget td.active:hover {
    background-color: #196e98;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)
}

.bootstrap-datetimepicker-widget td.active.today:before {
    border-bottom-color: #fff
}

.bootstrap-datetimepicker-widget td.disabled,
.bootstrap-datetimepicker-widget td.disabled:hover {
    background: none;
    color: #bebebe;
    cursor: not-allowed
}

.bootstrap-datetimepicker-widget td span {
    display: inline-block;
    width: 54px;
    height: 54px;
    line-height: 54px;
    margin: 2px 1.5px;
    cursor: pointer;
    border-radius: 0
}

.bootstrap-datetimepicker-widget td span .glyphicon {
    content: "f "
}

.bootstrap-datetimepicker-widget td span:hover {
    background: rgba(0, 0, 0, .12)
}

.bootstrap-datetimepicker-widget td span.active {
    background-color: #1b81cb;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)
}

.bootstrap-datetimepicker-widget td span.old {
    color: #bebebe
}

.bootstrap-datetimepicker-widget td span.disabled,
.bootstrap-datetimepicker-widget td span.disabled:hover {
    background: none;
    color: #bebebe;
    cursor: not-allowed
}

.bootstrap-datetimepicker-widget th {
    height: 20px;
    line-height: 20px;
    width: 20px
}

.bootstrap-datetimepicker-widget th.picker-switch {
    width: 145px
}

.bootstrap-datetimepicker-widget th.next,
.bootstrap-datetimepicker-widget th.prev {
    font-size: 19.5px
}

.bootstrap-datetimepicker-widget th.disabled,
.bootstrap-datetimepicker-widget th.disabled:hover {
    background: none;
    color: #bebebe;
    cursor: not-allowed
}

.bootstrap-datetimepicker-widget thead tr:first-child th {
    cursor: pointer
}

.bootstrap-datetimepicker-widget thead tr:first-child th:hover {
    background: rgba(0, 0, 0, .12)
}

.timepicker-picker td,
.timepicker-picker th {
    padding-top: 0!important;
    padding-bottom: 0!important
}

.timepicker-picker .btn-timepicker-close {
    margin: 5px 0 3px;
    font-size: 15px;
    font-weight: 500
}

.input-group.date .input-group-addon span {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px
}

.bootstrap-datetimepicker-widget.left-oriented:before {
    left: auto;
    right: 6px
}

.bootstrap-datetimepicker-widget.left-oriented:after {
    left: auto;
    right: 7px
}

.bootstrap-datetimepicker-widget ul.list-unstyled li div.timepicker div.timepicker-picker table.table-condensed tbody>tr>td {
    padding: 0!important
}

#returnTripPickupDateHolder {
    position: relative
}

#returnTripPickupDateHolder .bootstrap-datetimepicker-widget.dropdown-menu.picker-open {
    position: absolute!important;
    top: 40px!important;
    left: 0!important;
    right: auto!important;
    bottom: auto!important
}

@media screen and (max-width:767px) {
    .bootstrap-datetimepicker-widget.timepicker-sbs {
        width: 283px
    }
}

.datepicker {
    width: 250px
}

.timepicker {
    width: 200px
}

.timepicker td {
    height: 30px;
    line-height: 30px;
    width: 30px
}

.timepicker td span {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 2px 1.5px;
    cursor: pointer;
    border-radius: 0;
    position: relative
}

.timepicker a[data-action] {
    padding: 0
}

.datepicker #set_time {
    display: none;
}

.timepicker-picker .glyphicon{
    color: #bebebe;
    font-size: 16px;
}

/*.pac-container*/
/*{*/
    /*position:fixed;*/
    /*display:block;*/
    /*margin-top: -210px;*/
/*}*/
.prepend_drop_from_seaport{
    z-index: 9999999;
}
.system-input{
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    margin: 0px;
    z-index: 9999999;
}
.system-input i {
    margin-left: 10px;
}

.system-input:hover{
    background-color: #FAFAFA;
}

.custom-pac-width {
    width: 95%;
}